#barra{
    text-align: center;
}

#botoes{
    text-align:center;
}

.botao-iniciar{
    font-size: 20px;
    color: #f9f9f9;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    background-color:  rgb(92,184,92);

}

.botao-parar{
    font-size: 20px;
    color: #f9f9f9;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    background-color: rgb(217,83,79);
}

.mostrador{
    padding: 30px 100px 30px 100px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
}