<ion-header>
  <ion-toolbar color="secondary">
      <div class="bar bar-header bar-assertive" id="barra">
          <h1 class="title">Cronometro</h1>
        </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <p class="mostrador">00:00:00</p><br>
    <div id="botoes">
      <button class="botao-iniciar">Iniciar</button>
      &nbsp;
      <button class="botao-parar" onclick="f()">Parar</button>
  </div>  
  <script>
    function f(){
      alert();
    }

  </script>
</ion-content>